* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}
#wrapper {
  padding: 20px;
  position: relative;
  width: 100vw;
  height: 100vh;
  background-color: #DCDCDC;
  overflow: hidden;
}
#header {
  position: absolute;
  z-index: 2;
}
#add-note {
  width: 50px;
  aspect-ratio: 1;
  border: none;
  border-radius: 50%;
  box-shadow: 1px 3px 10px 1px hsl(0, 0%, 16%, 0.2);
  cursor: pointer;
}
#main {
  position: relative;
  width: 100%;
  height: 100%;
}
.anote {
  position: absolute;
  top: 50px;
  left: 50px;
  width: 400px;
  background-color: white;
  border-radius: 10px;
  box-shadow: 1px 3px 10px 1px hsl(0, 0%, 16%, 0.2);
}
.anote-header {
  /* border: 1px solid black; */
  height: 20px;
  background-color: #282828;
  border-radius: 10px 10px 0 0;
}
.anote-content {
  min-height: 380px;
  padding: 20px 30px;
  /* border: 1px solid red; */
}
.anote-title:focus,
.anote-body:focus {
  outline: none;
}
.anote-body {
  /* border: 1px solid blue; */
}
.anote-title {
  /* border: 1px solid blue; */
  margin-bottom: 10px;
}